.header {
    color: black;
    background-color: #ffffe0;
    font-family: arial;
    font-size: 40px;
    text-align: center;
}

.recipes{
    color: black;
    background-color: white;
    font-family: georgia;
    font-size: 50px;
    display: table;
    text-align: left;
    margin: 0 auto;
}

.chef {
    text-align: center;
}

#background{
    background-color: #ffffe0; 
}